body {
  
  background-color: #373737;
}

.collapse navbar-collapse {
	float: right;
}

img {

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 250px;
  margin-top: 20px;
  box-shadow: 50px 50px grey inset;

}

.container {
	color:#fff;
	margin-top: 10px;
	
}

.col {
padding: 0px 5px;
width: 50%;
}

h2 {
	background-color: #303030;
}

p {
	text-align: center;
	color: #fff;
	margin-top: 20px;
}
